/angularJSGettingStarted/nbproject/private/
/Chapter2/nbproject/private/
/W3School/nbproject/private/
/Chepter9/nbproject/private/
/ClassTest/nbproject/private/
/Chapter10/nbproject/private/
/ClassTest2/nbproject/private/
/Chapter11/nbproject/private/
/W3SchoolDirective/nbproject/private/
/Chapter12/nbproject/private/
/W3Intro/nbproject/private/