<!DOCTYPE html>

<!--<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.css"/>
        <script src="js/angular.js"></script>
    </head>
    <body>
        
        <div ng-app="">
            <p>Our application</p>
            <p>Name :<input type="text" ng-model=" showkat" placeholder="Enter something here"></p>
            <h1>Hello {{ showkat}}</h1>
            <p ng-bind="showkat"></p>
        </div>

    </body>
</html>-->


<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        input.ng-valid{
            background-color: lightblue;
        }
        input.ng-invalid{
            background-color: red;
        }
        input.ng-dirty{
            background-color: yellow;
        }
        input.ng-touched{
            background-color: green;
        }
    </style>
    <body>

        <form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">

            Email:
            <input type="email" name="myAddress" ng-model="myText" required>
            <p>Edit the e-mail address, and try to change the status.</p>
            <h1>Status</h1>
            <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
            <p>Invalid: {{myForm.myAddress.$valid}} (if true, the value meets all red).</p>

            <p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
            <p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>

        </form>

    </body>
</html>
